body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(72,72,72);
  font-size: 17px;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

.listing-container {
  margin: 0 auto;
}

@media (min-width: 744px) {
  .listing-container {
    width: 696px;
  }
}

.home-container {
	margin: 0 auto;
	padding: 0 25px;
}

@media (min-width: 1131px) {
	.home-container {
		width: 1080px;
	}
}

button {
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  background: white;
  color: #484848;
  padding: 7px 18px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}

.carousel-control {
  padding: 1rem;
  color: #ffffff;
  opacity: 0.85
}

@media (min-width: 744px) {
  .carousel-control {
      font-size: 3rem;
  }
}